/*----------index.html-----------*/
body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    font-style: normal;
    background-color:#FFFFFF;
    margin: 0;
}
.list {
    list-style: none;}
.link {
    text-decoration: none;}
h1, h2, h3, h4, h5, h6, p {
margin: 0;  
    }
ul {
    padding-left: 0;
    margin: 0;
}
button {
        cursor: pointer;
    }
address{
    font-style: normal;
}
.container{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.section{
    padding-top: 96px;
    padding-bottom: 96px;
}
.container-foooter{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
img {
    width: 100%;
    height: auto;
    display: block;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*-------------header-------------------*/
.header {
    padding-top: 24px;
    padding-bottom: 22px; 
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1128px;
}
.header-nav{
    display: flex;
    flex-direction:row;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}
.header-studio {
    color: #2e2f42;}
.menu-list, .socials-list {
    display: none;
}

.menu-link:hover,.menu-link:focus {
    color: #404bbf;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.after-line::after {
    content: "";
    display: block;
    position: absolute;
    background: #404BBF;
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    margin-top: 24px;
    opacity: 0;
}
.after-line:hover::after {
    background: #404BBF;
    opacity: 1;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-list:hover::after,.menu-list:focus::after {
    background: #404BBF;
    opacity: 1;
}

/*-------------------address---------------*/
.socials {
    font-style: normal;
}
.socials-address{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}
.socials-address:is(:hover, :focus, :active) {
    color:#404bbf;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-open-burger{
    border: none;
    stroke: #2E2F42;
    background-color: transparent;
}
.menu-open-burger-icon{
color: #FFFFFF;
}
/*-------mob-menu---------*/

.mob-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 80px 24px 40px 40px;
    
    
}
.mob-close-button {
    display: block;
    margin-left: auto;
    margin-bottom: 32px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.mob-bacdrop-svg {
}
.mob-menu-list {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(40 / 36);
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}
.mob-menu-item:not(:last-child){
    margin-bottom: 40px;
}
.mob-menu-link {
    color: inherit;
}
.mob-socials-address {
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: calc(40 / 30);
letter-spacing: 0.02em;
text-transform: capitalize;
color: #4D5AE5;
}
.mob-socials-mail{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: calc(24 / 20);
letter-spacing: 0.02em;
color: #434455;
}
.mob-socials-contacts {
    margin-bottom: 40px;
}
.mob-socials-mailto {
    margin-bottom: 48px;
}
.mobil-soc {
    display: flex;
    justify-content: space-between;
}
.mobil-soc-items {
    width: 40px;
    height: 40px;
}
.mobil-soc-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
}
/*--------------siction1-------------*/
.title {
    background-color: #2e2f42;
    padding-top: 112px;
    padding-bottom: 240px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ), url(../images/mobile-people-office.jpg) ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
} 
.caption {
    margin-bottom: 72px;
    text-align: center;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 320px;
}   
.title-btn {
    min-width: 169px;
    height: 56px;
    display: block;
    border: none;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.title-btn:hover {
    background-color: #404BBF;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: transform 250ms cubic-bezier(.33,.78,.5,.52), transform 250ms cubic-bezier(.33,.78,.5,.52);
}
.modal {
    padding: 72px 24px 24px;
    width: 408px;
    height: 584px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1) ;
    transition: transform 250ms cubic-bezier(.33,.78,.5,.52);
    animation-iteration-count:inherit;
    background: #fff;
}
.backdrop.is-hidden .modal{
    transform: translate(-50%, -50%) scale(0);
    transition: transform 250ms cubic-bezier(.33,.78,.5,.52);
}
.close-button {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    
}
.bacdrop-svg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.close-button:hover {
    background: #404BBF;
    border-radius: 4px;
    border-radius: 50%;
    fill: #FFFFFF;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}
.no-scroll {
    overflow: hidden;
} 
/*--------------bacdrop--------------*/
.text-backdrop-hero{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 16px;
    width: 360px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    position: relative;
}
.modal-form{
    margin-bottom: 8px;
} 
.input-person {
    position: relative;
}
.icon-person {
    width: 100%;
    height: 40px;
    padding-left: 38px;
    padding-top: 11px;
    padding-bottom: 11px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgb(46, 47, 66,0.4);
    transition: border-color var(--timing-cubic);
    outline: transparent;
}
.icon-person:focus {
    border-color: #4D5AE5;
}
.icon-person:focus + .icons-tablet {
    fill: #4D5AE5;
}
.icons-tablet{
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
}
.name-text{
    display:block;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.feedback-block {
    height: 138px;
}
.feedback{
    display: block;
    font-size: 12px;
    margin-bottom: 4px;
    color: #8e8f99;
}
.feedback-textarea{
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: transparent;
    background-color: transparent;
    resize: none;
    border-radius: 4px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
}
.feedback-textarea:focus {
    border-color: #4D5AE5;
}
.icon-svg-click:checked{
    border-image: none;
}
.checkbox-privacy:checked + .user-privacy-checkbox span{
    background-color: #404BBF;
    border: none;
    fill: #F4F4FD;
}
.user-privacy-checkbox{
    display: flex;
}
.user-privacy-checkbox span{
    content: "";
    width: 16px;
    height: 16px;
    border: 1px solid #2e2f42;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: transparent;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.user-privacy-checkbox{
    display: flex;
    gap: 8px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-top: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.icon-svg-click{
    position: absolute;
}
.text-checkbox-privacy{
    text-decoration: underline;
}
.modal-btn-send {
    display: block;
    width: 169px;
    height: 56px;
    margin: 0 auto;
    text-align: center;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-btn-send:hover,
.modal-btm-send:focus {
    background-color: #404BBF;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
/*--------------siction2--------------*/
.aside {
    margin-top: 120px;
    margin-bottom: 120px;
    padding-left: 15px;
    padding-right: 15px;
}
.aside-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px 24px;
}

.container-section {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
} 
.aside-icon{
    width: 64px;
    height: 64px;
}
.aside-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
    color:#2e2f42;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.aside-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5; 
    letter-spacing: 0.02em;
}
/*--------------siction3------------*/

.img-text {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42 ;
    margin-bottom: 72px;
}
.img-menu{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-bottom: 120px;
}
/*------------------siction4---------------*/
.team{
    background-color: #f4f4fd;
}
.team-items{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 72px;
}
.team-block{
    width: 264px;
    background-color: #ffffff;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}
.team-block:hover .text-profil{
    order: 1;
    flex-grow: 0;
    z-index: 1;
}
.team-text {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42 ;
}
.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42 ;
    margin-bottom: 8px;
}
.team-position {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}
.team-list{
    display: flex;
    justify-content: center;
    gap: 24px;
    padding-left:16px;
    padding-right: 16px;
}
.soc-item{
    width: 40px;
    height: 40px;
}
.soc-item-link{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.soc-item-link:hover{
    border-radius: 50%;
    background-color: #404BBF;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.text-profil{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*-------siction5--------- */
.icon-text{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 72px;
}
.icon-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 16px;
}
.client-link{
    width:  100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    padding: 16px 32px;
    fill:#8E8F99
}

.client-link:hover,
.client-link:focus {
    border: 1px solid #404BBF;
    border-radius: 4px;
    fill: #404BBF;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
/* ----------FOOTHER----------------*/
.footer {
    width: 100%;
    background-color: #2e2f42;
    padding-top: 96px;
    padding-bottom: 96px;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-studio {
    color: #f4f4fd;

}

.footer-link-mobile {
    margin-bottom: 16px;
}
.footer-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #E7E9FC;
    width: 264px;
    
}
.footer-link {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-item-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 264px;
    margin: 0;
}

.footer-items {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-media{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.footer-soc{
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-soc-items {
    width: 40px;
    height: 40px;
}
.footer-soc-link{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #4D5AE5;
}
.footer-soc-link:hover{
    border-radius: 50%;
    background-color: #31D0AA; 
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
/*-----------------footer-email----------------*/
.footer-conteiner-list{
    position: relative;
    width: 453px;
    height: 80px;
}

.footer-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.text-subscribe{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5px;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
}
.footer-mail-user{
    display: flex;
    background-color: inherit;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #FFFFFF;
    padding: 8px 16px 8px 16px;
    Width: 100%;
    Height:40px;
}
.button-mail{
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    color: #ffffff;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}
.button-mail:is(:hover, :focus){
    background-color: #404BBF;
}
.button-mail-icon{
    width: 24px;
    height: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}
/*----------------Portfolio.html-----------------*/
/*-----------------MAIN----------------------*/
.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-top: 96px;
    margin-bottom: 72px;
}
.menu-items {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#4d5ae5 ;
    cursor: pointer;
    background-color:#f4f4fd; 
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px;
}
.menu-items:hover,
.menu-items:focus {
    background-color: #404bbf;
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border-color: #404bbf;
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-content {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455 ;
}
/* ------------------IMG---------------- */
.img-potfolio {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
    padding-bottom: 120px;
}
.content {
    border: 1px solid #E7E9FC;
    width: 360px;
    height: 420px;
}
.content:hover .content-overlei-text{
    transform: translateY(0);
}
.content:hover{
    border: inset 1px solid #E7E9FC;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    transition-duration:250ms;
    transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);
}
.content-link-img{
    background: #4D5AE5;
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
}
.portfolio-sector{
    display: flex;
    flex-direction: column;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
}
.portfolio-content-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.content-position{
    position: relative;
    overflow: hidden;
} 

.content-overlei-text{
    position: absolute;
    top: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    background-color: #4D5AE5;
    height: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;
}






/* ------------------IMG2----------------- */
